<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>

      #parse( $template )

      <footer>
        <h3><a href="/courses">Add or view a course</a></h3>
        <h3><a href="/students">Add or view a student</a></h3>
      </footer>
    </div>

  </body>
</html>
